.Backgrond {
    background-attachment: fixed;
    background-size: cover; /* This will make sure the image covers the entire background */
    background-color: rgba(0, 0, 0, 0.5); /* This will add a layer of transparent black color */
background-position: center;
margin-top: 20px; 
}
.Backgrond {
    content: "";
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url(image.jpg); URL of the image */
    background-size: cover;
    background-color: rgba(0, 0, 0, 0,1);
}